<% exhibit_id = params[:ex] %>
<% display_id = params[:id] %>

<div class="center jumbotron" style="background: url(<%= asset_path('display-images/' + display_id + '.jpg') %>); margin-bottom: 5px">
	<h1 style="color: white !important;"><%= parse_display(exhibit_id, display_id, 'title') %></h1>
	<h2 style="color: white !important;"><%= parse_display(exhibit_id, display_id, 'subText') %></h2>
</div>

<p style="background: rgba(255, 255, 255, 0.6); text-align: center; padding: 5px;">Exhibit: <span class='text-muted'><%= parse_display(exhibit_id, display_id, 'exhibit') %></span></p>

<% para = parse_display(exhibit_id, display_id, 'paragraph') %>
	
<% para.each do |para| %>
	<% unless para['title'] == 'NULL' %>
		<h3><%= para['title'] %></h3>
	<% end %>
	<p><%= para['text'] %></p>
<% end %>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back", exhibit_page_path(exhibit_id) %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-user"></span>
    	<% if logged_in? %>
			<%= link_to "Profile", current_user %>
		<% else %>
			<%= link_to "Log In", login_path %>
		<% end %>
    </div><div class="col-xs-4">
      <span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>