<% exhibit_id = params[:id] %>



<div class="exhibit-header" style="background: url('<%= image_path('exhibit-images/' + exhibit_id) %>');">
	<h1><%= parse_exhibit(exhibit_id, 'title') %></h1>
	<h2 style="margin-bottom: 0px;"><%= parse_exhibit(exhibit_id, 'subText') %></h2>
</div>

<div class="row info-box">
	<div class="col-xs-3">
		<p><span class="glyphicon glyphicon-info glyphicon-map-marker"></span><%= parse_exhibit(exhibit_id, 'where') %></p>
	</div><div class="col-xs-3" style="border-right: 1px solid #333; border-left: 1px solid #333;">
		<p><span class="glyphicon glyphicon-info glyphicon-time"></span><%= parse_exhibit(exhibit_id, 'when') %></p>
	</div><div class="col-xs-3" style="border-right: 1px solid #333;">
		<p><span class="glyphicon glyphicon-info glyphicon-usd"></span><%= parse_exhibit(exhibit_id, 'cost') %></p>
	</div><div class="col-xs-3">
		<p><span class="glyphicon glyphicon-info glyphicon-tags"></span><%= parse_exhibit(exhibit_id, 'type') %></p>
	</div>
</div>

<div class="q-wrapper">
	<h3>Estimated Wait Time:</h3>
	<h1 class="q-timer">Approx. 2min</h1>
	<p class="q-help"><%= link_to 'What is this?', about_path %></p>
</div>
	
<div class='row'>
	<div class='col-md-9'>
		<!-- Collapse Button -->
		<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#displays" aria-expanded="false">Displays <span class="glyphicon glyphicon-chevron-down"></span></a></p>

		<div id="displays" class="collapse">
			<!-- Displays -->
			<% Dir.foreach('public/assets/' + exhibit_id) do |display| %>
				<% unless display == '.' or display == '..' %>
					<% display_id = display[0..-(File.extname(display).length + 1)] %>
					<% display_name = parse_display(exhibit_id, display_id, 'title') %>
				 	<p><%= link_to display_name + ' »', display_page_path(exhibit_id, display_id), class: "btn btn-wide btn-green-outline" %></p>
			 	<% end %>
			<% end %>
		</div>
	</div>

	<div class='col-md-3'>

		<% para = parse_exhibit(exhibit_id, 'paragraph') %>
		<% para.each do |para| %>
			<% unless para['title'] == 'NULL' %>
				<h3><%= para['title'] %></h3>
			<% end %>
			<p><%= para['text'] %></p>
		<% end %>
	</div>
</div>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-chevron-left"></span> <%= link_to "Back", levels_path %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-user"></span>
    	<% if logged_in? %>
			<%= link_to "Profile", current_user %>
		<% else %>
			<%= link_to "Log In", login_path %>
		<% end %>
    </div><div class="col-xs-4">
      <span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>