<div class="center jumbotron">
	<h1>Te Papa Levels</h1>
</div>

<!-- Level Buttons -->

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level1" aria-expanded="false">Level 1</a></p>

<div id="level1" class="well collapse">
	<p><%= link_to "X to the Z »", exhibit_path, class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "Pimp My Page »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "West Coast Webpage »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
</div>

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level2" aria-expanded="false">Level 2</a></p>

<div id="level2" class="well collapse">
	<p><%= link_to "X to the Z »", exhibit_path, class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "Pimp My Page »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "West Coast Webpage »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
</div>

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level3" aria-expanded="false">Level 3</a></p>

<div id="level3" class="well collapse">
	<p><%= link_to "X to the Z »", exhibit_path, class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "Pimp My Page »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
	<p><%= link_to "West Coast Webpage »", '#', class: "btn btn-wide btn-orange" %></p>
	<p>Exhibit Information that describes the exhibit with exhibit words for exhibit reasons.</p>
</div>