
<h1 onload="scrollMaps();">Te Papa Levels</h1>

<!-- Level Buttons -->

<!-- LEVEL 1 -->
<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level1" aria-expanded="false">Level 1 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level1" class="level collapse">
	<p>Drag to look around the map below.</p>
	<div class="map visible-xs">      
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				    width="800px" height="800px" viewBox="0 0 595.28 538.58"
				    style="enable-background:new 0 0 0 0; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<g id="Layer_1">
			<g id="Layer_2_1_">
				<image style="overflow:visible;enable-background:new    ;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level1.jpg") %>"  transform="matrix(0.1413 0 0 0.1449 -75.2913 -0.8884)">
				</image>
			</g>
			<g id="Layer_1_1_">
				<g id="Layer_2">
					<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M86.46,342.789c0,0,5.164,27.807,20.331,40.141c15.167,12.333,20.5,17,45.833,18.167
				c25.333,1.167,45.333-21.667,45.333-21.667s12.552-17.615,17.193-36.641H86.46z" onClick="window.location='<%= exhibit_page_path('level1shop') %>';"/>
					<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;" points="66.394,305.924 85.386,340.932 216.063,340.932 
						247.103,305.924 			" onClick="window.location='<%= exhibit_page_path('level1cafe') %>';"/>
					<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;" points="171.276,481.46 159.158,503.428 165.181,506.192 
						156.748,522.066 163.977,524.405 184.953,488.901 			" onClick="window.location='<%= exhibit_page_path('quakebraker') %>';"/>
					<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M33.158,276.019l44.008,1.772
						c0,0,19.772-40.039,73.488-24.661c0,0-19.488-30.827,30.543-31.252l3.685-11.197l22.677,7.937l39.543-27.071
						c0,0,75.331-13.039,94.323-85.465l-21.614-9.354l5.811-12.118l22.11,9.354l4.748-16.795l-6.307-3.756
						c0,0,9.496-32.669-27.921-18.709l-18.992-3.472c0,0-33.732,16.087-44.787,14.244l-103.748,52.724c0,0-23.74,39.189-93.26,48.543
						c0,0-54.78,39.685-48.473,70.016L33.158,276.019z" onClick="window.location='<%= exhibit_page_path('bushcity') %>';"/>
				</g>
			</g>
			<g id="Layer_3">
				<rect x="80.142" y="517.673" style="fill:none;" width="181.418" height="34.016"/>
				<text transform="matrix(1 0 0 1 80.14 526.1977)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Quakebraker</text>
				<text transform="matrix(1 0 0 1 102.6771 356.4232)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Te Papa Store, Level 1</text>
				<text transform="matrix(1 0 0 1 86.0238 319.9272)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Te Papa Cafe</text>
				<text transform="matrix(1 0 0 1 202.2445 117.6038)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Bush City</text>
				<text transform="matrix(1 0 0 1 131.0238 203.7064)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Cave</text>
				<text transform="matrix(1 0 0 1 40.6692 203.7064)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Fossil Dig</text>
			</g>
			<g id="Layer_4">
				
					<text transform="matrix(1 0 0 1 282.3236 355.7148)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Main Stairs</text>
				
					<text transform="matrix(1 0 0 1 283.0317 502.7622)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Car Park Entrance</text>
				
					<text transform="matrix(1 0 0 1 393.9378 340.8324)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Car Park</text>
				
					<text transform="matrix(0.904 0.4275 -0.4275 0.904 323.8202 93.5826)" style="font-family:'MyriadPro-Regular'; font-size:8.5038;">Bridge to Level 2</text>
			</g>
		</g>
		</svg>


	</div>

	<p><%= link_to "Quakebraker »", exhibit_page_path('quakebraker'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('quakebraker', 'subText') %></p>
	<p><%= link_to "Bush City »", exhibit_page_path('bushcity'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('bushcity', 'subText') %></p>
</div>

<!-- LEVEL 2 -->
<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level2" aria-expanded="false">Level 2 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level2" class="level collapse">
	<p>Drag to look around the map below.</p>
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="720px"
			 viewBox="122 -57.07 840 680" style="enable-background:new 0 0 0 0; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<g id="Layer_2_1_">
			
				<image style="overflow:visible;" width="5206" height="3753" xlink:href="<%= image_path("exhibit-maps/level2.jpg") %>"  transform="matrix(0.1861 0 0 0.1861 48.3123 -66.9454)">
			</image>
		</g>
		<g id="Layer_1">
			<g id="Layer_2">
				<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;" points="748.143,121.888 728.495,154.811 828.247,195.751 
					820.186,152.7 		" onClick="window.location='<%= exhibit_page_path('naturespace') %>';" />
				<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;" points="687.436,336.723 687.436,423.67 842.857,423.67 
					842.857,265.393 828.247,195.751 784.921,178.025 725.473,280.588 704.313,336.301 		" onClick="window.location='<%= exhibit_page_path('gallipoli') %>';"/>
				<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;" points="687.436,336.723 601.54,336.723 601.54,395.814 
					651.415,395.814 651.919,364.159 687.436,364.581 		" onClick="window.location='<%= exhibit_page_path('level2shop') %>';"/>
				<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M659.505,235.236l-55.446-4.875L707.84,58.578
					l61.463,25.747l-60.456,103.408C708.849,187.732,659.505,199.097,659.505,235.236z" onClick="window.location='<%= exhibit_page_path('mountainstosea') %>';"/>
				<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M725.473,280.588l59.448-102.563l-56.424-23.214
					l-19.648,32.921c0,0-49.819,11.862-49.343,47.505C659.981,270.881,692.223,284.808,725.473,280.588z" onClick="window.location='<%= exhibit_page_path('awesomeforces') %>';"/>
				<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M167.174,312.319l61.746,2.747
					c0,0,27.766-62.17,103.222-38.256c0,0-27.371-47.828,42.906-48.553l5.179-17.392l31.81,12.319l55.482-42.031
					c0,0,105.786-20.29,132.418-132.615l-30.33-14.493l8.138-18.841l31.07,14.493L615.47,3.61l-8.877-5.797
					c0,0,13.315-50.728-39.207-28.987l-26.632-5.416c0,0-47.345,24.982-62.88,22.084L332.141,67.38c0,0-33.289,60.872-130.937,75.365
					c0,0-76.936,61.597-68.059,108.701L167.174,312.319z" onClick="window.location='<%= exhibit_page_path('bushcity') %>';"/>
			</g>
		</g>
		<g id="Layer_3">
			<text transform="matrix(1 0 0 1 646.7983 135.86)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:17;">Mountains</tspan><tspan x="17.332" y="20.4" style="font-family:'MyriadPro-Bold'; font-size:17;">to Sea</tspan></text>
			<text transform="matrix(1 0 0 1 748.6553 154.8105)" style="font-family:'MyriadPro-Bold'; font-size:17;">Nature Space</text>
			<text transform="matrix(1 0 0 1 693.6964 385.2682)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:17;">Gallipoli: The Scale</tspan><tspan x="30.668" y="20.4" style="font-family:'MyriadPro-Bold'; font-size:17;">of Our War</tspan></text>
			<text transform="matrix(1 0 0 1 415.5728 58.5777)" style="font-family:'MyriadPro-Bold'; font-size:17;">Bush City</text>
			<text transform="matrix(1 0 0 1 302.4614 195.7508)" style="font-family:'MyriadPro-Bold'; font-size:17;">Cave</text>
			<text transform="matrix(1 0 0 1 151.6377 178.86)" style="font-family:'MyriadPro-Bold'; font-size:17;">Fossil Dig</text>
			<text transform="matrix(1 0 0 1 671.0933 235.2362)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:17;">Awesome</tspan><tspan x="12.283" y="20.4" style="font-family:'MyriadPro-Bold'; font-size:17;">Forces</tspan></text>
			<text transform="matrix(1 0 0 1 605.4414 385.2682)" style="font-family:'MyriadPro-Bold'; font-size:17;">Shop</text>
		</g>
		<g id="Layer_4">
			<text transform="matrix(1 0 0 1 498.8774 315.0664)" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Information Desk</text>
			<text transform="matrix(1 0 0 1 504.541 485.86)" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Storyplace</text>
			<text transform="matrix(1 0 0 1 547.8818 421.86)"><tspan x="0" y="0" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Surroundings</tspan><tspan x="20.97" y="20.4" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Theatre</tspan></text>
			<text transform="matrix(1 0 0 1 287.3735 495.86)"><tspan x="0" y="0" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Blue Whale</tspan><tspan x="-16.371" y="20.4" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Function Venue</tspan></text>
			<text transform="matrix(1 0 0 1 302.5894 366.2682)"><tspan x="0" y="0" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">ICON</tspan><tspan x="-37.587" y="20.4" style="opacity:0.3; font-family:'MyriadPro-Regular'; font-size:17;">Function Venue</tspan></text>
		</g>
		</svg>
	</div>

	<p><%= link_to "Awesome Forces »", exhibit_page_path('awesomeforces'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('awesomeforces', 'subText') %></p>
	<p><%= link_to "Gallipoli »", exhibit_page_path('gallipoli'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('gallipoli', 'subText') %></p>
	<p><%= link_to "Mountains to Sea »", exhibit_page_path('mountainstosea'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('mountainstosea', 'subText') %></p>
	<p><%= link_to "Nature Space »", exhibit_page_path('naturespace'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('naturespace', 'subText') %></p>
</div>

<p><a class="btn btn-wide btn-level btn-green" data-toggle="collapse" href="#level3" aria-expanded="false">Level 3 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level3" class="level collapse">
	<p>Drag to look around the map below.</p>
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="880px" height="640px" 
			 viewBox="0 0 623.62 453.54" style="enable-background:new 0 0 0 0; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<image style="overflow:visible;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level3.jpg") %>"  transform="matrix(0.1198 0 0 0.1208 0 0)">
		</image>
		<g id="Layer_1_2_">
			<g id="Layer_2_4_">
				<path style="opacity:0.30;fill:#006600;enable-background:new    ;" d="M349.214,133.949l31.219-60.023l86.253,46.039
					l-29.752,58.176l-0.467,7.915h-99.461c0,0,2.468-20.909,7.338-29.286l-40.491-21.437c0,0-17.544,33.969-12.674,50.722h-17.544
					l13.141-60.023l-22.414-12.07l10.206-18.139L349.214,133.949z" onClick="window.location='<%= exhibit_page_path('bloodearthfire') %>';"/>
				<rect x="346.745" y="201.887" style="opacity:0.60;fill:#006600;enable-background:new    ;" width="88.721" height="14.643" onClick="window.location='<%= exhibit_page_path('youcalledmewhat') %>';" />
			</g>
		</g>
		<g id="Layer_4_1_">
			<rect x="47.581" y="194.038" style="fill:none;" width="110.72" height="105.534"/>
			
				<text transform="matrix(0.9915 0 0 1 69.7837 200.6162)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Te Huinga Centre</text>
			
				<text transform="matrix(0.9915 0 0 1 71.3545 211.6968)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Function venues</text>
			
				<text transform="matrix(0.9915 0 0 1 75.147 222.7778)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Angus Room 1</text>
			
				<text transform="matrix(0.9915 0 0 1 75.147 233.8604)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Angus Room 2</text>
			
				<text transform="matrix(0.9915 0 0 1 65.6641 244.9404)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Rangimarie Room 1</text>
			
				<text transform="matrix(0.9915 0 0 1 65.6641 256.0215)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Rangimarie Room 2</text>
			
				<text transform="matrix(0.9915 0 0 1 65.6641 267.1025)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Rangimarie Room 3</text>
		</g>
		<g id="Layer_2_3_">
			<text transform="matrix(0.9915 0 0 1 368.4512 138.2144)" style="fill:#010101; font-family:'MyriadPro-Bold'; font-size:11.213;">Blood Earth Fire</text>
			
				<text transform="matrix(0.9915 0 0 1 336.5322 212.3091)" style="fill:#010101; font-family:'MyriadPro-Bold'; font-size:11.8726;">You Called Me What?!</text>
		</g>
		<g id="Layer_3_1_">
			<rect x="447.428" y="162.839" style="fill:none;" width="71.938" height="26.384"/>
			
				<text transform="matrix(0.9915 0 0 1 449.8965 169.395)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Oceania Function</text>
			
				<text transform="matrix(0.9915 0 0 1 471.1523 180.4771)" style="opacity:0.3;fill:#010101;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:9.2343;">Venue</text>
		</g>
		</svg>
	</div>

	<p><%= link_to "Blood Earth Fire »", exhibit_page_path('bloodearthfire'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('bloodearthfire', 'subText') %></p>
	<p><%= link_to "You Called Me What »", exhibit_page_path('youcalledmewhat'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('youcalledmewhat', 'subText') %></p>
</div>

<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level4" aria-expanded="false">Level 4 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level4" class="level collapse">
	<p>Drag to look around the map below.</p>
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="840px" height="800px"
			 viewBox="0 0 623.62 566.93" style="enable-background:new 0 0 0 0; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<g id="Layer_1">
			
				<image style="overflow:visible;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level4.jpg") %>"  transform="matrix(0.1511 0 0 0.1511 -70.2767 -0.2017)">
			</image>
		</g>
		<g id="Layer_2">
			<path style="opacity:0.30;fill:#006600;" d="M539.047,183.302l-62.906,7.015c0,0,4.227,13.933,17.623,25.971
				c11.023,9.906,28.253,18.53,54.445,17.052L539.047,183.302z" onClick="window.location='<%= exhibit_page_path('tehukaatai') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M422.395,273.089L560.423,326.4c0,0,11.604-3.741,15.879-3.741s0-57.052,0-57.052
				l-22.597-8.885l-5.497-23.382c0,0-32.547,2.372-54.445-17.052l-29.227,42.772l-26.262-8.418c0,0-21.241-2.662-12.826,12.107
				C425.449,262.75,426.06,267.478,422.395,273.089z" onClick="window.location='<%= exhibit_page_path('manawhenua') %>';"/>
			<polygon style="opacity:0.30;fill:#006600;" points="347.274,178.158 435.221,47.218 459.04,57.974 422.395,112.688 
				476.14,132.324 458.429,159.92 453.543,160.388 424.838,208.404 	" onClick="window.location='<%= exhibit_page_path('temarae') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M325.458,213.699l21.816-35.541l77.564,30.246l28.705-48.016l4.886-0.468l4.886,32.267
				l-19.544,38.814c0,0-7.329,8.418-21.376,8.885s-14.658,7.95-14.658,7.95L325.458,213.699z" onClick="window.location='<%= exhibit_page_path('manawhenua') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M290.475,263.217l34.983-49.519l82.279,34.138c0,0-3.664,2.338-3.664,8.418
				s5.497,8.201-7.329,15.09l-75.732-23.507l-15.269,21.512L290.475,263.217z" onClick="window.location='<%= exhibit_page_path('whititera') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M258.106,314.242l32.369-51.024l15.269,6.131l8.216-11.576l21.71,10.173
				c0,0-17.101,25.72-15.269,48.635L258.106,314.242z" onClick="window.location='<%= exhibit_page_path('level4cafe') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M402.851,338.559c0,0-4.886-39.75,19.544-65.47L560.423,326.4
				c0,0,43.363-11.691,54.356,15.432c0,0-15.268,25.72-56.799,0L402.851,338.559z" onClick="window.location='<%= exhibit_page_path('treatyofwaitangi') %>';"/>
			<rect x="397.965" y="369.244" style="opacity:0.30;fill:#006600;" width="105.658" height="14.747" onClick="window.location='<%= exhibit_page_path('themixingroom') %>';"/>
			<polygon style="opacity:0.30;fill:#006600;" points="402.851,338.559 397.965,369.244 503.624,369.244 503.624,340.395 	" onClick="window.location='<%= exhibit_page_path('passports') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M589.127,425.073h-59.242c0,0,0-17.77,7.94-18.939s3.054-9.119,3.054-9.119h48.249
				V425.073z" onClick="window.location='<%= exhibit_page_path('planetpasifika') %>';"/>
			<rect x="442.549" y="425.073" style="opacity:0.30;fill:#006600;" width="47.638" height="28.058" onClick="window.location='<%= exhibit_page_path('goldendays') %>';"/>
			<polygon style="opacity:0.30;fill:#006600;" points="212.728,439.102 206.193,455.002 304.217,455.002 304.217,439.102 	" onClick="window.location='<%= exhibit_page_path('inspirationstation') %>';"/>
			<path style="opacity:0.30;fill:#006600;" d="M223.293,428.346H385.14V356.33c0,0-5.497-18.661-25.651-15.644l-78.175-0.33
				L223.293,428.346z" onClick="window.location='<%= exhibit_page_path('sliceofheaven') %>';"/>
			<polygon style="opacity:0.30;fill:#006600;" points="503.624,387.194 422.395,387.194 422.395,421.32 527.953,421.32 
				537.825,406.133 541.618,404.257 540.879,397.014 589.127,397.014 589.127,353.264 571.935,349.048 557.98,341.833 
				503.624,340.686 	" onClick="window.location='<%= exhibit_page_path('tangataolemoana') %>';"/>
		</g>
		<g id="Layer_3">
			<text transform="matrix(1 0 0 1 244.6668 308.3335)" style="font-family:'MyriadPro-Bold'; font-size:15;">Espresso</text>
			<text transform="matrix(1 0 0 1 372.3332 170.6667)" style="font-family:'MyriadPro-Bold'; font-size:15;">Te Marae</text>
			<text transform="matrix(1 0 0 1 325.458 195.7372)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Mana</tspan><tspan x="0" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">Whenua</tspan></text>
			<text transform="matrix(1 0 0 1 411.7071 360.6667)" style="font-family:'MyriadPro-Bold'; font-size:15;">Passports</text>
			<text transform="matrix(1 0 0 1 389.6665 384.3509)" style="font-family:'MyriadPro-Bold'; font-size:15;">The Mixing Room</text>
			<text transform="matrix(1 0 0 1 442.5493 466.9354)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Golden</tspan><tspan x="0" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">Days</tspan></text>
			<text transform="matrix(1 0 0 1 431.6667 400.6663)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Tangata</tspan><tspan x="0" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">o le Moana</tspan></text>
			<text transform="matrix(1 0 0 1 407.7372 326.4005)" style="font-family:'MyriadPro-Bold'; font-size:15;">Treaty of Waitangi</text>
			<text transform="matrix(1 0 0 1 529.8857 403)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Planet</tspan><tspan x="0" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">Pasifika</tspan></text>
			<text transform="matrix(1 0 0 1 516.1155 287.1761)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Mana</tspan><tspan x="0" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">Whenua</tspan></text>
			<text transform="matrix(1 0 0 1 193.5 471)" style="font-family:'MyriadPro-Bold'; font-size:15;">Inspiration Station</text>
			<text transform="matrix(1 0 0 1 266 400.6663)" style="font-family:'MyriadPro-Bold'; font-size:15;">Slice of Heaven</text>
			<text transform="matrix(1 0 0 1 503.9427 203.8782)" style="font-family:'MyriadPro-Bold'; font-size:15;">Te Huka &#x101; Tai</text>
			<text transform="matrix(1 0 0 1 152.8574 183.3024)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:15;">Whiti Te R&#x101;! The story of</tspan><tspan x="13.912" y="18" style="font-family:'MyriadPro-Bold'; font-size:15;">Ng&#x101;ti Toa Rangatira</tspan></text>
		</g>
		<g id="Layer_4">
			<text transform="matrix(1 0 0 1 485.5 142)"><tspan x="0" y="0" style="font-family:'MyriadPro-Regular'; font-size:11;">Hine-titama</tspan><tspan x="0" y="13.2" style="font-family:'MyriadPro-Regular'; font-size:11;">Meeting Room</tspan></text>
			<text transform="matrix(1 0 0 1 65.5 352.0093)"><tspan x="0" y="0" style="font-family:'MyriadPro-Regular'; font-size:11;">Amokura Gallery</tspan><tspan x="0" y="13.2" style="font-family:'MyriadPro-Regular'; font-size:11;">Function Venue</tspan></text>
		</g>
		</svg>

	</div>

	<p><%= link_to "Golden Days »", exhibit_page_path('goldendays'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('goldendays', 'subText') %></p>

	<p><%= link_to "Inspiration Station »", exhibit_page_path('inspirationstation'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('inspirationstation', 'subText') %></p>
	<p><%= link_to "Manawhenua »", exhibit_page_path('manawhenua'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('manawhenua', 'subText') %></p>
	<p><%= link_to "Passports »", exhibit_page_path('passports'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('passports', 'subText') %></p>
	<p><%= link_to "Planet Pasifika »", exhibit_page_path('planetpasifika'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('planetpasifika', 'subText') %></p>

	<p><%= link_to "Slice of Heaven »", exhibit_page_path('sliceofheaven'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('sliceofheaven', 'subText') %></p>
	<p><%= link_to "Tangata o le Moana »", exhibit_page_path('tangataolemoana'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('tangataolemoana', 'subText') %></p>
	<p><%= link_to "Te Huka ā Tai »", exhibit_page_path('tehukaatai'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('tehukaatai', 'subText') %></p>
	
	<p><%= link_to "Te Marae »", exhibit_page_path('temarae'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('temarae', 'subText') %></p>
	<p><%= link_to "The Mixing Room »", exhibit_page_path('themixingroom'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('themixingroom', 'subText') %></p>
	<p><%= link_to "Treaty of Waitangi »", exhibit_page_path('treatyofwaitangi'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('treatyofwaitangi', 'subText') %></p>
	<p><%= link_to "Whiti Te Rā »", exhibit_page_path('whititera'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('whititera', 'subText') %></p>
</div>

<a class="btn btn-wide btn-green" data-toggle="collapse" href="#level5and6" aria-expanded="false">Level 5 &amp; 6 <span class="glyphicon glyphicon-chevron-down"></span></a>
<div id="level5and6" class="level collapse">
	<p>Drag to look around the map below.</p>
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="880px" height="800px"
			 viewBox="0 0 623.62 566.93" style="enable-background:new 0 0 0 0; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<g id="Layer_1">
			
				<image style="overflow:visible;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level56.jpg") %>"  transform="matrix(0.1477 0 0 0.151 -62.5046 0)">
			</image>
			<g id="Layer_2">
				<path style="opacity:0.30;fill:#006600;enable-background:new    ;" d="M402.984,269.028h-75.098v-26.237h58.955
					c0,0-3.51,1.419,1.403-17.728l-49.832-26.592l6.316-13.118l62.464,34.747l-4.211,14.891v34.036H402.984z" onClick="window.location='<%= exhibit_page_path('ngatoi') %>';"/>
				<rect x="292.092" y="398.087" style="opacity:0.30;fill:#006600;enable-background:new    ;" width="75.449" height="32.62" onClick="window.location='<%= exhibit_page_path('level6store') %>';"/>
				<polygon style="opacity:0.30;fill:#006600;enable-background:new    ;" points="184.709,398.087 292.092,398.087 292.092,430.706 
					367.541,430.706 367.541,398.087 586.167,398.087 586.167,508 130.666,508 		" onClick="window.location='<%= exhibit_page_path('ngatoi') %>';"/>
			</g>
		</g>
		<g id="Layer_2_1_">
			<text transform="matrix(1 0 0 1 177.0355 85.9998)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:17;">Ng&#x101; Toi | Arts Te Papa</tspan><tspan x="50.03" y="20.4" style="font-family:'MyriadPro-Bold'; font-size:17;">(Level 6)</tspan></text>
			<text transform="matrix(1 0 0 1 399.7021 443.3333)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:17;">Ng&#x101; Toi | Arts Te Papa</tspan><tspan x="50.03" y="20.4" style="font-family:'MyriadPro-Bold'; font-size:17;">(Level 5)</tspan></text>
			<text transform="matrix(1 0 0 1 320.5892 411.3337)"><tspan x="0" y="0" style="font-family:'MyriadPro-Bold'; font-size:12;">Te Papa</tspan><tspan x="6.726" y="14.4" style="font-family:'MyriadPro-Bold'; font-size:12;">Store</tspan></text>
		</g>
		<g id="Layer_3">
			<text transform="matrix(1 0 0 1 212.9554 199.333)"><tspan x="0" y="0" style="font-family:'MyriadPro-Regular'; font-size:17;">Viewing Terrace</tspan><tspan x="27.098" y="20.4" style="font-family:'MyriadPro-Regular'; font-size:17;">(Level 6)</tspan></text>
		</g>
		</svg>
	</div>

	<p><%= link_to "Ngatoi »", exhibit_page_path('ngatoi'), class: "btn btn-wide btn-green-outline" %></p>
	<p><%= parse_exhibit('ngatoi', 'subText') %></p>
</div>

<!-- FOOTER -->
<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-user"></span>
    	<% if logged_in? %>
			<%= link_to "Profile", current_user %>
		<% else %>
			<%= link_to "Log In", login_path %>
		<% end %>
    </div><div class="col-xs-4">
      <span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>