<div class="center jumbotron">
	<h1>Te Papa Levels</h1>
</div>

<!-- Level Buttons -->

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level1" aria-expanded="false">Level 1</a></p>

<div id="level1" class="well collapse">
	<p><%= link_to "Quakebraker »", exhibit_page_path('quakebraker'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('quakebraker', 'subText') %></p>
	<p><%= link_to "Bush City »", exhibit_page_path('bushcity'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('bushcity', 'subText') %></p>
</div>

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level2" aria-expanded="false">Level 2</a></p>

<div id="level2" class="well collapse">
	<p><%= link_to "Awesome Forces »", exhibit_page_path('awesomeforces'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('awesomeforces', 'subText') %></p>
	<p><%= link_to "Gallipoli »", exhibit_page_path('gallipoli'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('gallipoli', 'subText') %></p>
	<p><%= link_to "Mountains to Sea »", exhibit_page_path('mountainstosea'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('mountainstosea', 'subText') %></p>
	<p><%= link_to "Nature Space »", exhibit_page_path('naturespace'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('naturespace', 'subText') %></p>
</div>

<p><a class="btn btn-wide btn-blue" data-toggle="collapse" href="#level3" aria-expanded="false">Level 3</a></p>

<div id="level3" class="well collapse">
	<p><%= link_to "Blood Earth Fire »", exhibit_page_path('bloodearthfire'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('bloodearthfire', 'subText') %></p>
	<p><%= link_to "You Called Me What »", exhibit_page_path('youcalledmewhat'), class: "btn btn-wide btn-orange" %></p>
	<p><%= parse_exhibit('youcalledmewhat', 'subText') %></p>
</div>