
<h1>Te Papa Levels</h1>

<!-- Level Buttons -->

<!-- LEVEL 1 -->
<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level1" aria-expanded="false">Level 1 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level1" class="collapse">
	<div class="map visible-xs">      
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				    width="800px" height="800px" viewBox="0 0 595.28 538.58"
				    style="enable-background:new 0 0 595.28 538.58; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
		<g id="Layer_1">
			<g id="Layer_2_1_">
					<image style="overflow:visible;enable-background:new    ;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level1.png") %>"  transform="matrix(0.1413 0 0 0.1449 -75.2913 -0.8884)">
				</image>
			</g>
			<g id="Layer_1_1_">
				<g id="Layer_2">
					<path style="opacity:0.3;fill:#006600;enable-background:new    ;" d="M86.46,342.789c0,0,5.164,27.807,20.331,40.141c15.167,12.333,20.5,17,45.833,18.167
					c25.333,1.167,45.333-21.667,45.333-21.667s12.552-17.615,17.193-36.641H86.46z"
					onClick="window.location='<%= exhibit_page_path('level1store') %>';"/>
					<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;"
					points="66.394,305.924 85.386,340.932 216.063,340.932 247.103,305.924"
					onClick="window.location='<%= exhibit_page_path('level1cafe') %>';"/>
					<polygon style="opacity:0.3;fill:#006600;enable-background:new    ;"
					points="171.276,481.46 159.158,503.428 165.181,506.192 156.748,522.066 163.977,524.405 184.953,488.901 			"
					onClick="window.location='<%= exhibit_page_path('quakebraker') %>';"/>
					<path style="opacity:0.3;fill:#006600;enable-background:new    ;"
					d="M33.158,276.019l44.008,1.772 c0,0,19.772-40.039,73.488-24.661c0,0-19.488-30.827,30.543-31.252l3.685-11.197l22.677,7.937l39.543-27.071
					c0,0,75.331-13.039,94.323-85.465l-21.614-9.354l5.811-12.118l22.11,9.354l4.748-16.795l-6.307-3.756
					c0,0,9.496-32.669-27.921-18.709l-18.992-3.472c0,0-33.732,16.087-44.787,14.244l-103.748,52.724c0,0-23.74,39.189-93.26,48.543
					c0,0-54.78,39.685-48.473,70.016L33.158,276.019z"
					onClick="window.location='<%= exhibit_page_path('bushcity') %>';"/>
				</g>
			</g>
			<g id="Layer_3">
				<rect x="80.142" y="517.673" style="fill:none;" width="181.418" height="34.016"/>
				<text transform="matrix(1 0 0 1 80.14 526.1977)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Quakebraker</text>
				<text transform="matrix(1 0 0 1 102.6771 356.4232)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Te Papa Store, Level 1</text>
				<text transform="matrix(1 0 0 1 86.0238 319.9272)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Te Papa Cafe</text>
				<text transform="matrix(1 0 0 1 202.2445 117.6038)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Bush City</text>
				<text transform="matrix(1 0 0 1 131.0238 203.7064)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Cave</text>
				<text transform="matrix(1 0 0 1 40.6692 203.7064)" style="font-family:'MyriadPro-Bold'; font-size:12.0473;">Fossil Dig</text>
			</g>
			<g id="Layer_4">
				
					<text transform="matrix(1 0 0 1 282.3236 355.7148)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Main Stairs</text>
				
					<text transform="matrix(1 0 0 1 283.0317 502.7622)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Car Park Entrance</text>
				
					<text transform="matrix(1 0 0 1 393.9378 340.8324)" style="opacity:0.3;enable-background:new    ; font-family:'MyriadPro-Regular'; font-size:8.504;">Car Park</text>
				
					<text transform="matrix(0.904 0.4275 -0.4275 0.904 323.8202 93.5826)" style="font-family:'MyriadPro-Regular'; font-size:8.5038;">Bridge to Level 2</text>
			</g>
		</g>
		</svg>

	</div>

	<p><%= link_to "Quakebraker »", exhibit_page_path('quakebraker'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('quakebraker', 'subText') %></p>
	<p><%= link_to "Bush City »", exhibit_page_path('bushcity'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('bushcity', 'subText') %></p>
</div>

<!-- LEVEL 2 -->
<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level2" aria-expanded="false">Level 2 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level2" class="collapse">
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		    width="840px" height="680px" viewBox="0 0 595.28 481.89" style="enable-background:new 0 0 595.28 481.89; overflow-x: auto; overflow-y: auto;" xml:space="preserve">
			<g id="Layer_1"><image style="overflow:visible;" width="5206" height="3753" xlink:href="<%= image_path("exhibit-maps/level2.jpg") %>"
			transform="matrix(0.1319 0 0 0.1319 -52.22 -7)"></image></g>
			<g id="Layer_2">
			  <polygon style="opacity:0.01;fill:#FFFFFF;" points="443.727,126.82 429.803,150.151 500.494,179.164 494.781,148.655  "
			  	onClick="window.location='<%= exhibit_page_path('naturespace') %>';"/>
			  <polygon style="opacity:0.01;fill:#FFFFFF;" points="400.706,279.066 400.706,340.683 510.847,340.683 510.847,228.517 
			    500.494,179.164 469.79,166.602 427.661,239.285 412.666,278.767"
			    onClick="window.location='<%= exhibit_page_path('gallipoli') %>';"/>
			  <polygon style="opacity:0.01;fill:#FFFFFF;" points="400.706,279.066 339.834,279.066 339.834,320.942 375.179,320.942 
			    375.536,298.509 400.706,298.808   "
			    onClick="window.location='<%= exhibit_page_path('level2store') %>';"/>
			  <path style="opacity:0.01;fill:#FFFFFF;" d="M380.912,207.146l-39.293-3.455l73.546-121.737l43.557,18.246l-42.843,73.282
			    C415.88,173.481,380.912,181.535,380.912,207.146z"
			    onClick="window.location='<%= exhibit_page_path('mountainstosea') %>';"/>
			  <path style="opacity:0.01;fill:#FFFFFF;" d="M427.661,239.285l42.129-72.683l-39.986-16.451l-13.924,23.33
			    c0,0-35.305,8.406-34.968,33.665C381.249,232.406,404.098,242.276,427.661,239.285z"
			    onClick="window.location='<%= exhibit_page_path('awesomeforces') %>';"/>
			  <path style="opacity:0.01;fill:#FFFFFF;" d="M32.013,261.772l43.757,1.947c0,0,19.677-44.058,73.15-27.111
			    c0,0-19.397-33.894,30.406-34.408l3.67-12.325l22.543,8.73l39.318-29.786c0,0,74.967-14.379,93.84-93.98l-21.494-10.271
			    l5.767-13.352l22.018,10.271L349.706,43l-6.291-4.108c0,0,9.436-35.949-27.785-20.542l-18.873-3.838
			    c0,0-33.552,17.704-44.561,15.65L148.92,88.192c0,0-23.591,43.138-92.791,53.409c0,0-54.522,43.652-48.231,77.033L32.013,261.772z"
			    onClick="window.location='<%= exhibit_page_path('bushcity') %>';"/>
			</g>
		</svg>
	</div>

	<p><%= link_to "Awesome Forces »", exhibit_page_path('awesomeforces'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('awesomeforces', 'subText') %></p>
	<p><%= link_to "Gallipoli »", exhibit_page_path('gallipoli'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('gallipoli', 'subText') %></p>
	<p><%= link_to "Mountains to Sea »", exhibit_page_path('mountainstosea'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('mountainstosea', 'subText') %></p>
	<p><%= link_to "Nature Space »", exhibit_page_path('naturespace'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('naturespace', 'subText') %></p>
</div>

<p><a class="btn btn-wide btn-green" data-toggle="collapse" href="#level3" aria-expanded="false">Level 3 <span class="glyphicon glyphicon-chevron-down"></span></a></p>
<div id="level3" class="collapse">
	<div class="map visible-xs">
		<?xml version="1.0" encoding="iso-8859-1"?>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="920" height="680" viewBox="0 0 651.97 481.89" style="enable-background:new 0 0 651.97 481.89; overflow-x: auto; overflow-y: auto;"  xml:space="preserve">
			<g id="Layer_1"><image style="overflow:visible;" width="5206" height="3754" xlink:href="<%= image_path("exhibit-maps/level3.jpg") %>"
			transform="matrix(0.1269 0 0 0.1284 0 0)"></image></g>
			<g id="Layer_2">
			  <path style="opacity:0.01;fill:#FFFFFF;" d="M370.952,141.167l33.15-64.5l91.68,49.5l-31.596,62.5l-0.518,8.5H358.002
			  c0,0,2.59-22.5,7.77-31.5l-42.991-23c0,0-18.647,36.5-13.467,54.5h-18.647l13.985-64.5l-23.827-13l10.877-19.5L370.952,141.167z"
			  onClick="window.location='<%= exhibit_page_path('bloodearthfire') %>';"/>
			  <rect x="368.362" y="214.167" style="opacity:0.01;fill:#FFFFFF;" width="94.27" height="15.719"
			  onClick="window.location='<%= exhibit_page_path('youcalledmewhat') %>';"/>
			</g>
		</svg>
	</div>

	<p><%= link_to "Blood Earth Fire »", exhibit_page_path('bloodearthfire'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('bloodearthfire', 'subText') %></p>
	<p><%= link_to "You Called Me What »", exhibit_page_path('youcalledmewhat'), class: "btn btn-wide btn-green" %></p>
	<p><%= parse_exhibit('youcalledmewhat', 'subText') %></p>
</div>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-user"></span>
    	<% if logged_in? %>
			<%= link_to "Profile", current_user %>
		<% else %>
			<%= link_to "Log In", login_path %>
		<% end %>
    </div><div class="col-xs-4">
      <span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>