<% provide(:title, @user.name) %>
<div class="row user-exhibits">
	<div class="col-md-3">
		<div class="user-details">
			<%= gravatar_for @user %>
			<h1><%= @user.name %></h1>
			<h2>500 Points</h2>
		</div>
	</div>

	<div class="col-md-9">
		<div class="exhibit-block">
			<h2>Black Beech</h2>
			<p>Walking through a beech forest on a sunny day with dappled sunlight filtering through the canopy overhead, underfoot you will feel a deep, soft carpet of little brown, yellow, and red leaves. Around you the mossy, black, velvety trunks rise up, and the scent of honeydew, mouldering logs, and leaf litter is...</p>
		</div>

		<div class="exhibit-block">
			<h2>Exhibit 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget pretium dolor...</p>
		</div>

		<div class="exhibit-block">
			<h2>Exhibit 3</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget pretium dolor...</p>
		</div>

		<div class="exhibit-block">
			<h2>Exhibit 4</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget pretium dolor...</p>
		</div>

		<div class="exhibit-block">
			<h2>Exhibit 5</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget pretium dolor...</p>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
    	<span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-lock"></span> <%= link_to "Log Out", logout_path, method: "delete" %>
    </div><div class="col-xs-4">
    	<span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>