<% provide(:title, @user.name) %>
<div class="row user-exhibits">
	<div class="col-md-3">
		<div class="user-details">
			<center><%= gravatar_for @user %></center>
			<h1 style="margin-top: 0px"><%= @user.name %></h1>
		</div>
	</div>

	<h1>Saved Displays</h1>
	<div class="col-md-9">
		<div class="exhibit-block">
			<%= link_to 'Black Beech', display_page_path('mountainstosea', 'blackbeech'), class: "btn btn-wide btn-green" %>
			<p style="margin-top: 10px;">Walking through a beech forest on a sunny day with dappled sunlight filtering through the canopy overhead...</p>
		</div>

		<div class="exhibit-block">
			<%= link_to 'Pygmy Blue Whale', display_page_path('mountainstosea', 'pygmybluewhale'), class: "btn btn-wide btn-green" %>
			<p style="margin-top: 10px;">The suspended skeleton in Mountains to the Sea comes from a whale which was hit by a container ship off the...</p>
		</div>

		<div class="exhibit-block">
			<%= link_to 'Giant Weta', display_page_path('awesomeforces', 'giantweta'), class: "btn btn-wide btn-green" %>
			<p style="margin-top: 10px;">Imagine climbing up forest trees to set bird traps or to forage for fruits, and disturbing a wetapunga in...</p>
		</div>

		<div class="exhibit-block">
			<%= link_to 'Cecil Malthus', display_page_path('gallipoli', 'cecilmalthus'), class: "btn btn-wide btn-green" %>
			<p style="margin-top: 10px;">One of the most arresting sights in Gallipoli: The scale of our war is the final giant sculpture of Cecil...</p>
		</div>

		<div class="exhibit-block">
			<%= link_to 'Private Jack Dunn', display_page_path('gallipoli', 'jackdunn'), class: "btn btn-wide btn-green" %>
			<p style="margin-top: 10px;">This is the fourth blog in our series about the real people behind the larger-than-life sculptures featured...</p>
		</div>
	</div>
</div>

<footer class="footer">
  <div class="row">
    <div class="col-xs-4">
    	<span class="glyphicon glyphicon-home"></span> <%= link_to "Home", root_path %>
    </div><div class="col-xs-4">
      	<span class="glyphicon glyphicon-lock"></span> <%= link_to "Log Out", logout_path, method: "delete" %>
    </div><div class="col-xs-4">
    	<span class="glyphicon glyphicon-question-sign"></span> <%= link_to "Help", help_path %>
    </div>
</footer>